.git
.gitignore
.idea
.vscode
.env
.env.*
!.env.example

venv
**/__pycache__
**/*.py[cod]
.pytest_cache
tests
logs

data
**/data/vector_db
**/data/documents
**/data/chat_history.db

frontend
frontend-react/node_modules
frontend-react/dist
frontend-react/.env
frontend-react/.env.*
!frontend-react/.env.example

ai_1
ai_2
ai_3
ai_ai
